<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{input}}</h1>
    
</body>
</html> -->
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{first}}</h1>
    {% if name=="a" %}
    <h1>welcome</h1>
    {% else %}
    <h1>logout</h1>
    {% endif %}
</body>
</html> -->
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for item in name %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
</body>
</html> -->

<!-- </body>
</html> --> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{name}}</h1>
    {% if name=="a" %}
    <h1>welcome</h1>
    {% else %}
    <h1>logout</h1>
    {% endif %}
</body>
</html>