<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
</head>
<body>
    
    <form action="/new_book" method="POST">

    <label>book title</label>
    <input type="text" name="b_title" />
    <label>b-author</label>
    <input type="text" name="b_author" />
    <input type="submit" value="Submit" />
    </form>

</body>
</html>
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html> -->